* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #171717;
    --background-color-transparent: #17171780;
    --text-color: #efefef;
}

::-moz-selection {
    color: var(--background-color);
    background: var(--text-color);
}

::selection {
    color: var(--background-color);
    background: var(--text-color);
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #171717;
    color: var(--text-color);
}

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--text-color) var(--background-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
    border: 2px solid #171717;
}

.legenda .bold {
    font-size: 1.2em;
}

.pageTitle {
    background: linear-gradient(#00000000, #000000aa);
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.initialAnimation {
    position: relative;
    width: 100%;
}

.title {
    font-size: 4em;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5em;
}

.big {
    font-size: 1.2em;
}

.pageTitleInner {
    height: 120vh;
    width: 100vw;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

/* ----- Scelta ----- */

.scelta {
    height: 100vh;
    padding: 3em;

    display: flex;
    align-items: center;
    gap: 2em;
}

.scelta .text {
    flex: 1;

    display: flex;

    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.scelta .text-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
}

.scelta .map {
    flex: 1;
    height: 80%;
}

iframe {
    height: 100%;
    width: 100%;
}

/* ----- Inquadramento urbanistico ----- */

.inquadramento {
    width: 100%;
    height: 100vh;
    padding: 3em;

    display: flex;
    align-items: center;
    gap: 2em;
}

.inquadramento .text {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inquadramento .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inquadramento .legenda {
    padding-top: 0.5em;
    border-top: 1px var(--text-color) solid;
}

.inquadramento .color-list {
    margin-top: 0.5em;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.inquadramento .color-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.inquadramento .color {
    height: 2em;
    width: 2em;
    border: 1px solid var(--text-color);
}

.inquadramento .color.cyan {
    background-color: hsl(180, 100%, 50%);
}

.inquadramento .color.orange {
    background-color: hsl(35, 100%, 50%);
}

.inquadramento .color.green {
    background-color: hsl(120, 100%, 50%);
}

.inquadramento .color.red {
    background-color: hsl(0, 100%, 50%);
}

/* ----- Carousel ----- */

.carousel {
    background-repeat: none;
    background-position: center;
    background-size: cover;

    flex: 1.5;
    height: 80%;
    padding: 0.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel.map1 {
    background-image: url("./imageSlider/map1.png");
}

.carousel.map2 {
    background-image: url("./imageSlider/map2.png");
}

.carousel.map3 {
    background-image: url("./imageSlider/map3.png");
}

.carousel button {
    outline: none;
    border: 0;

    padding: 1em;
    font-size: 2em;

    background-color: var(--background-color);
    color: var(--text-color);

    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.8;
}

.carousel button:hover {
    filter: brightness(2);
}

/* ----- Criticità ----- */

.criticita {
    width: 100%;
    height: 100vh;
    padding: 1em 3em;

    display: flex;
    align-items: center;
    gap: 2em;
}

.criticita .text {
    flex: 1;
}

.criticita .title {
    margin-bottom: 0.25em;
}

.criticita .text-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
}

.criticita .problemi {
    background-repeat: none;
    background-position: center;
    background-size: cover;

    height: 80%;
    aspect-ratio: 4/3;
    padding: 0.5em;

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.criticita button {
    outline: none;
    border: 0;

    padding: 1em;
    font-size: 2em;

    background-color: var(--background-color);
    color: var(--text-color);

    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.8;
}

.criticita button:hover {
    filter: brightness(2);
}

.problemi.criticita1 {
    background-image: url("./criticita/criticita1.png");
}

.problemi.criticita2 {
    background-image: url("./criticita/criticita2.png");
}

.problemi.criticita3 {
    background-image: url("./criticita/criticita3.png");
}

.problemi.criticita4 {
    background-image: url("./criticita/criticita4.png");
}

/* ----- Progetto ----- */

.risultato {
    width: 100%;
    height: 100vh;
    padding: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.risultato .anteprima {
    flex: 1;
    aspect-ratio: 16/9;

    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-image: url("/preview.png");
}

.risultato .anteprima .text {
    background-color: var(--background-color-transparent);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;

    display: grid;
    place-content: center;

    opacity: 0;

    transition: all 0.3s;
}

.risultato .anteprima .text:hover {
    opacity: 1;
}

.risultato .text a {
    background-color: var(--background-color);

    font-size: 1.2em;
    padding: 1em;

    color: var(--text-color);
    text-decoration: none;

    transition: all 0.3s;
}

.risultato .anteprima .text a:hover {
    filter: brightness(2);
    cursor: pointer;
}

/* ----- Progetto ----- */

.riqualificazione {
    width: 100%;
    height: 100vh;
    padding: 3em;

    display: flex;
    align-items: center;
    gap: 2em;
}

.riqualificazione .precisazione {
    margin-top: 1em;
}

.riqualificazione .planimetria {
    flex: 1;
    height: 80%;

    background-image: url("./planimetria.png");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.riqualificazione .text {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.riqualificazione .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.riqualificazione .legenda {
    padding-top: 0.5em;
    border-top: 1px var(--text-color) solid;
}

.riqualificazione .color-list {
    margin-top: 0.5em;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.riqualificazione .color-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.riqualificazione .color {
    height: 2em;
    width: 2em;
    border: 1px solid var(--text-color);
}

.riqualificazione .color.cyan {
    background-color: hsl(180, 100%, 50%);
}

.riqualificazione .color.orange {
    background-color: hsl(35, 100%, 50%);
}

.riqualificazione .color.green {
    background-color: hsl(120, 100%, 50%);
}

.riqualificazione .color.red {
    background-color: hsl(0, 100%, 50%);
}

/* ----- Scroll ----- */

.loader-main {
    width: 100vw;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    padding-bottom: 2em;
}

.loader-main.top {
    position: sticky;

    top: 2em;
    bottom: unset;
}

.loader-container {
    height: 100%;

    width: fit-content;
    height: fit-content;

    display: grid;
    transform: scale(1.2);
    transform-origin: bottom;
}

.loader {
    width: 48px;
    height: 78px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #fff;
    box-shadow: 0px 2px 5px var(--background-color);
    margin: auto;
    border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    animation: scrollDown 2s linear infinite;
    box-shadow: 0px 2px 5px var(--background-color);
}

@keyframes scrollDown {
    0% {
        top: 15px;
        height: 4px;
        opacity: 1;
    }
    33% {
        top: 15px;
        height: 40px;
    }
    66% {
        top: 50px;
        height: 10px;
        opacity: 1;
    }
    100% {
        top: 56px;
        height: 4px;
        opacity: 0;
    }
}
